.heading{
    text-align: center;
    margin-top: 3%;
    padding: 2%;
    border: 2px solid black;
    border-left: 0cqi;
    border-right:0cqi;
    font-size: 2rem;
    background-color: slateblue;
}